[Repos]
user:
  /home/nen/contrib/haskell/hackport -t git
  /home/nen/contrib/haskell/hackport/cabal -p /home/nen/contrib/haskell/hackport

  /home/nen/contrib/mono/FAKE -t git -b develop
sudo:
  /home/gentoo-haskell